<div class="container-fluid text-center containertop">
    <h1>DK TEST PROJECT </h1>
</div>

<div class="container-fluid  containerparent">
<div class="container   containerdk">
    <div class="container-fluid text-center containerhdr">
        <b>  Login Screen</b>
    </div>
    <div class="container-fluid containerbody">
    <div class="row">
        <div class="col-sm-12">
            USER NAME
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type="text" class="form-control" />
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            PASSWORD
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type="password" class="form-control" />
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-4">
            
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary">Login</button>
        </div>
       
        <div class="col-sm-4">
           
        </div>
    </div>
  </div>
  
  
</div>
</div>
